@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0px;
}

.content {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.start-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.start-screen {
    width: 100%;
}

.gameover-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.gameover-screen {
    width: 100%;
}

.lost-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.lost-screen {
    width: 100%;
    border-radius: 20px;
}

.pause-screen {
    background-color: rgba(121, 121, 121, 0.317);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
}

.keybindings-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #f6ad7e;
    font-size: 35px;
    letter-spacing: 3px;
    padding-left: 100px;
}

.info-screen {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
    padding: 20px;

    background-color: #f6ad7e;

    padding-left: 90px;
    padding-bottom: 50px;

}

.info-screen-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 18px;
    letter-spacing: 2px;
    overflow: auto;
    height: 100%;
}

.fullscreen-icon {
    cursor: pointer;
    width: 45px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 1;
}

.keyboard-btn {
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 20px;
    width: 45px;
}

.explanation-text {
    text-decoration: underline;
}

.info-screen a {
    text-decoration: none;
    color: black;
    margin-top: 3px;
}

.info-screen a:hover {
    color: grey;
}

.info-btn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    bottom: 20px;
    width: 45px;
}

.volume-btn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 45px;
    z-index: 1;
}

.play-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
}

.play-btn:active {
    filter: invert();
}

h1 {
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.317);
}

.fullscreen-div {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    position: relative;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.border-radius {
    border-radius: 20px;
}

.canvas-shadow {
    box-shadow: -5px 10px 6px -2px black;
}

.browser-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

/*.user-help {
    margin-top: 10px;
    font-size: 21px;
    width: 750px;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6ad7e;
    border-radius: 16px;
    letter-spacing: 0.5px;
    line-height: 25px;
}*/

.d-none {
    display: none !important;
}

.touch-interface {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.arrow-left {
    width: 45px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.arrow-right {
    width: 45px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.throw-icon {
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 100px;
}

.jump-icon {
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 25px
}

.loading-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
    z-index: 1;
}

.loading-arrow {
    width: 65px;
}

.rotate-message-screen {
    background-color: rgba(121, 121, 121, 0.317);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    z-index: 2;

}

.rotate-message-screen span {
    font-size: 60px;
    text-decoration: underline;
    background-color: #f6ad7e;
    padding: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
}

.rotate-scale-up {
    -webkit-animation: rotate-scale-up 0.85s linear infinite both;
    animation: rotate-scale-up 0.85s linear infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-3-6 13:54:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-scale-up
 * ----------------------------------------
 */
@-webkit-keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

@keyframes rotate-scale-up {
    0% {
        -webkit-transform: scale(1) rotateZ(0);
        transform: scale(1) rotateZ(0);
    }

    50% {
        -webkit-transform: scale(2) rotateZ(180deg);
        transform: scale(2) rotateZ(180deg);
    }

    100% {
        -webkit-transform: scale(1) rotateZ(360deg);
        transform: scale(1) rotateZ(360deg);
    }
}

/*----Max-Width-Responsive----*/
@media only screen and (max-width:920px) {
    .rotate-message-screen {
        display: flex !important;
    }
}

@media only screen and (max-height:760px) and (min-width:550px) {
    .rotate-message-screen {
        display: none !important;
    }
}

@media only screen and (max-width:720px) {
    .fullscreen-div {
        width: 100%;
        border-radius: 0em;
    }

    .rotate-message-screen {
        border-radius: 0em;
    }

    .canvas-border-radius {
        border-radius: 0em;
    }

    .border-radius {
        border-radius: 0em !important;
    }

    .lost-screen {
        border-radius: 0em;
    }

    .start-screen {
        border-radius: 0em;
    }

    .pause-screen {
        border-radius: 0em;
        display: block;
    }

    .gameover-screen {
        border-radius: 0em;
    }

    .loading-screen {
        border-radius: 0em;
    }
}

@media only screen and (max-width:620px) {
    .rotate-message-screen span {
        font-size: 3em;
    }
}

@media only screen and (max-width:520px) {
    .rotate-message-screen span {
        font-size: 2em;
    }
}

/*----Max-Height-Responsive----*/
@media only screen and (max-height:900px) {
    .content {
        justify-content: center;
    }

    .fullscreen-div {
        margin: 0em;
    }
}

@media only screen and (max-height:700px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height:480px) {
    .touch-interface {
        display: block !important;
    }

    .border-radius {
        border-radius: 0em !important;
    }

    .fullscreen-div {
        height: 100vh;
        margin: 0em;
    }

    .canvas-border-radius {
        border-radius: 0em;
    }

    .lost-screen {
        border-radius: 0em;
    }

    .start-screen {
        border-radius: 0em;
    }

    .pause-screen {
        border-radius: 0em;
    }
}