@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    margin: 0px;
}

.content {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.start-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.start-screen {
    width: 100%;
    /*object-fit: contain;*/
    border-radius: 20px;
}

.gameover-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
}

.gameover-screen {
    width: 100%;
    border-radius: 20px;
}

.lost-screen-div {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.lost-screen {
    width: 100%;
    border-radius: 20px;
}

.pause-screen {
    background-color: rgba(121, 121, 121, 0.317);
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 20px;
}

.volume-btn {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 20px;
    width: 45px;
    z-index: 1;
}

.play-btn {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 45px;
}

.play-btn:active {
    filter: invert();
}

h1 {
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.317);
}

.fullscreen-div {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    position: relative;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

.canvas-border-radius {
    border-radius: 20px;
}

.canvas-shadow {
    box-shadow: -5px 10px 6px -2px black;
}

.browser-bg {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.user-help {
    margin-top: 10px;
    font-size: 21px;
    width: 718px;
    height: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f6ad7e;
    border-radius: 16px;
    letter-spacing: 0.5px;
}

.d-none {
    display: none;
}

.touch-interface {
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
}

.arrow-left {
    width: 45px;
    position: absolute;
    bottom: 20px;
    left: 25px;
}

.arrow-right {
    width: 45px;
    position: absolute;
    bottom: 20px;
    left: 100px;
}

.throw-icon {
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 100px;
}

.jump-icon {
    width: 45px;
    position: absolute;
    bottom: 20px;
    right: 25px
}

@media only screen and (max-width:720px) {
    .fullscreen-div {
        width: 100%;
        border-radius: 0px;
    }

    .user-help {
        display: none;
    }

    .canvas-border-radius {
        border-radius: 0px;
    }

    .lost-screen {
        border-radius: 0px;
    }

    .start-screen {
        border-radius: 0px;
    }

    .pause-screen {
        border-radius: 0px;
    }

    .gameover-screen {
        border-radius: 0px;
    }
}

@media only screen and (max-height:900px) {
    .content {
        justify-content: center;
    }

    .fullscreen-div {
        margin: 0px;
    }
}

@media only screen and (max-height:700px) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height:600px) {
    .user-help {
        display: none;
    }
}

@media only screen and (max-height:480px) {
    .fullscreen-div {
        height: 100vh;
        margin: 0px;
    }

    .canvas-border-radius {
        border-radius: 0px;
    }

    .lost-screen {
        border-radius: 0px;
    }

    .start-screen {
        border-radius: 0px;
    }

    .pause-screen {
        border-radius: 0px;
    }
}